@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2); 

}
body h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
}

h1 {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#app{
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 50px;
    height: 100vh;
}

#container {
    width: 500px;
    background-color: rgb(240, 232, 232, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#ortala img {
    padding-bottom: 20px;
    height: 250px;
    width: 250px;

}

input, button {
    display: inline-block;
    padding: 7px;
    text-align: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    border-radius: 3px;
    border: 0.5px solid rgb(29, 11, 11);
}

button {
    cursor: pointer;
    background-color: white;
    color: rgb(36, 117, 163);
    margin: 10px;
}

button:hover {
    transform: rotateX(360deg);
    transition: all 1s ease;
}

#buton2 {
    margin-bottom: 20px;
}